.board-area {
    @media (min-width: 576px) {
        .container
        /* , */
        /* .container-lg,
        .container-md,
        .container-sm  */ {
            /* need !important to override other styles */
            max-width: 650px !important;
        }
    }

    /* widen the field */
    @media (min-width: 576px) {
        .container-field {
            /* need !important to override other styles */
            max-width: 800px !important;
        }
    }

    .row {
        padding: 0.5rem;
    }

    h6 {
        text-align: center;
    }

    /* field */
    .jumbotron {
        padding: 1rem 1rem;
        /* margin-top: 2rem; */
        /* margin-bottom: 2rem; */
        background-color: #e9ecef;
    }

    /* hand */
    .active {
        background: #99ff79;
    }

    .targetable:hover {
        cursor: pointer;
    }

    .popup {
        padding: 0.5rem;
        background-color: #ffd1d8;
    }

    // for logger
    p {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    // for second row of cards
    img {
        margin-bottom: 0.5rem;
    }
}
