/* p {
    text-align: center;
} */

.lobby-area {
    h6 {
        margin-top: 0.5rem;
        text-align: center;
    }
    div,
    .btn {
        margin-bottom: 0.5rem;
    }
    h3 {
        text-align: center;
    }
}
