/* bootstrap */
.container {
    font-family: monospace;
    /* font-weight: bold; */
    margin-top: 1rem;
    margin-bottom: 1rem;

    /* turn on to see all paddings */
    /* background-color: #e9ecef; */
}
.row {
    padding: 0.5rem;
    /* padding-top: .5rem; */
    /* padding-bottom: .5rem; */
}
.col {
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */

    /* padding: .5rem; */
    /* margin: 0.5rem 0.5rem; */
    /* margin-left: 0.1rem; */
    /* margin-right: 0.1rem; */

    /* font-family: monospace; */
    /* text-align: center; */
}

/* field */
.jumbotron {
    padding: 2rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
}
h6 {
    text-align: center;
}

/* hand */
.activeHand {
    cursor: pointer;
    background: #eeffe9;
}
.activeHand:hover {
    background: #eeffff;
}

/* turn options */
.container .btn {
    /* margin-top: 0.5rem; */
    /* margin-bottom: 0.5rem; */
    margin-right: 0.5rem;
}

/* targetable stuff */
/* change to hover later */
.targetable {
    background: #ffb0af;
}
.targetable:hover {
    cursor: pointer;
}
